/*Stile generale*/
header{
    text-align: center;
    background-color: maroon;
    background-size: cover;
    color: white;
    padding: 2%;
    margin: auto;
}
#tit{
    font-size: 1.9em;
   

}
body{
    background-color:#f9f2ec;   
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}
div.int{
    cursor: pointer;
    border: solid;
    border-radius: 10px;
    background-color:maroon;
    color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 10px;
}
div.int p{
    font-size: 0.8em;
}
h3.bottone{
    font-size: 0.9em;
}
div#dS{
    width: 80%;
    margin-left: 75px;
    margin-bottom: 10px;
}
div#dS p{
    padding: 5px;
}

/*Box informazioni lettera*/
#bel{
    clear: both;
    margin-left: 10%;
    width: 30%;
}
p.int{
    font-size: 0.8em;
    text-align: center;
}
#infoLettera{
    border-radius: 10px;
}
#infoLettera{
   margin-bottom: 40px;
   float: left;
   display: block;
   width: 50%;
   text-align: center;
   border: solid;
   margin: 1%;
   border-color:maroon;
}
#infoLettera h2{
    background-color: maroon;
    padding: 1% 5%;
    color: white;
    margin: auto;
}
/*Galleria fotografica*/

#imgLettera{
    float: left;
    display: block;
    margin-top: 3%;
}
/*Testo lettera*/
#testoLettera{
    float: left;
    display: block;
    width: 21%;
    font-size: 0.8em;
    margin-top: 3%;
    margin-bottom: 4%;
}
span.left{
    float: left;
}
span.right{
    float: right;
}
#ponzani{
    position:relative;
    right: -123px;
  }
div#ab_02{
      position: relative;
      left:-107px;
}
a:hover { 
    color: red 
}
div#imgLettera input{
    position:relative;
    bottom: 410px;
    margin: 10px;
}
span.aCapo{
    font-size: 0.7em;
    position: relative;
    top: 6px;
}
/*Crediti*/
footer{
    padding-bottom: 2%;
    color: white;
    background-color: maroon;
    width: 100%;
    margin: auto;
    clear:both;
    text-align: center;
}
span#ed{
    font-weight: bold;
}
span#datEd{
    font-weight: normal;
}
/*Pulsante*/
:target {
   
    background-color: #d9ff00;
  }